/*GENERAL STYLE*/
:root {
    --color-primary: #2196f3;
    --color-background-education: #f2f5f2;
    --color-body: #868e96;
    --color-light-gray: #d3d3d3;
    --color-scrollbar: #cbcccb;
    --color-dark: #242323;
    --color-white: #f2f2f2;
}

html {
    box-sizing: border-box;
    scrollbar-color: var(--color-primary) var(--color-scrollbar);
    scrollbar-width: thin;
}

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: var(--color-body);
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-primary);
}

a:hover,
a:focus,
a:active {
    color: var(--color-primary);
}

.subheading {
    font-weight: 500;
    font-family: "Sarina", cursive;
    font-size: 1.35rem;
    color: var(--color-primary);
}

p {
    color: var(--color-dark);
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
.list-social-icons a {
    color: var(--color-dark);
}

.list-social-icons a:hover {
    color: var(--color-primary);
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    color: var(--color-primary);
}

/*==================================================
                    NAV-BAR
====================================================*/
#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 3em;
    color: var(--color-dark);
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-nav .nav-item .nav-link {
        margin-left: 0;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: inline-block;
        position: relative;
        padding: 5px 20px;
        margin: auto;
    }

    /* ----Animation for the underline and overline on hover for nav links---- */
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:before,
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:after {
        content: "";
        position: absolute;
        height: 0;
        width: 4px; 
        background-color: var(--color-dark);
        transition: height 0.4s ease-in;
        bottom: 0;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
        left: 0; /* Overline */
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link::after {
        right: 0; /* Underline */
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before,
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
        height: 100%; /* Expands from left to right */
    }
    /* ----Animation for the underline and overline on hover for nav links---- */
}

/*==================================================
                  BUTTONS
====================================================*/

.btn-general {
    text-align: center;
    border-width: 1px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
}

.btn-white {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 4px 4px 5px;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: var(--color-primary);
    cursor: pointer;
}

.btn-white:active {
    transform: translateX(2px);
    transform: translateY(2px);
    transition: .2s;
    box-shadow: none;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
.heading-border {
    width: 60px;
    height: 10px;
    background-color: var(--color-primary);
    margin: 0 auto 20px auto;
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    /* The max-width and overflow are properties to control the aos.js behaviors
      so that the is no width scroll before the animations happen. */
    max-width: 100%;
    overflow: hidden;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

/*==================================================
                      ABOUT
====================================================*/
#about {
    background-image: url(images/hero-background.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about img {
    max-width: 50%;
}

/*==================================================
                    EDUCATION
====================================================*/
#education {
    background: var(--color-background-education);
    border-bottom: 1px solid var(--color-scrollbar);
}

#education .card h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
    color: var(--color-dark);
}

/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio {
    padding: 100px 0;
}

.portfolio-header {
    margin-bottom: 5em;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: var(--color-primary);
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: .6;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: var(--color-white);
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h3,
#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.project-image {
    box-shadow: 0 0 20px var(--color-dark);
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolio-modal .title-bar h1 {
    visibility: initial;
    animation-name: initial;
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
}

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--color-dark);
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: var(--color-dark);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px) {
    .portfolio-modal .close-modal {
        display: none;
    }
}

/*====================================================
                      SKILLS
======================================================*/

#skills {
    background-image: url("images/skills-background.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.skill-cover {
    background-color: rgba(60, 59, 59, 0.714);
}

.skill-cover h3 {
    font-family: "hind", sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
}

.skill-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(25, 25, 25, 0.823);
    box-shadow: 0 0 1em var(--color-primary);
}

.skill-item i {
    color: var(--color-primary);
}

.skill-item h2 {
    color: var(--color-white);
    font-size: "hind", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skill-item p {
    color: var(--color-white);
    font-family: "hind", sans-serif;
    font-weight: 300;
    margin-top: 0;
}

/*====================================================
                   CONTACT
======================================================*/

#contact {
    padding: 50px 0;
}

#contact .contact-cont h3 {
    color: var(--color-dark);
    font-size: 45px;
}

#contact .contact-cont p {
    padding-right: 20px;
    font-size: 15px;
}

#contact .contact-cont2 address,
#contact .contact-cont2 address a {
    color: var(--color-light-gray);
}

.con-form input {
    border-color: var(--color-light-gray);
    border-radius: 0;
    color: var(--color-light-gray);
    margin-top: 30px;
}

.con-form textarea {
    width: 100%;
    height: 200px;
    margin: 30px 0;
    border-color: var(--color-light-gray);
    border-radius: 0;
    color: var(--color-light-gray);
}

.contact-side-desc {
    padding-top: 40px;
}

.contact-box-desc h3 {
    color: var(--color-dark);
}

.contact-box-desc h3 i {
    color: var(--color-primary);
}

.social-icon-f li {
    display: inline-block;
}

.social-icon-f li i {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 2px solid var(--color-primary);
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
}

@media(max-width: 767px) {
    #contact-p2 .con-form input {
        margin-bottom: 30px;
    }

    .con-form textarea {
        width: 100%;
        height: 200px;
        margin: 10px 0 30px 0;
        border-color: var(--color-light-gray);
        border-radius: 0;
        color: var(--color-primary-background);
    }

    .contact-box-desc {
        text-align: center;
    }

    #contact .social-icon-f {
        text-align: center;
    }
}

@media (max-width: 575px) {
    #contact .social-icon-f {
        text-align: center;
    }
}

@media (max-width: 420px) {
    #contact .social-icon-f {
        text-align: center;
    }
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#copyright {
    background-color:  var(--color-white);
    color: var(--color-dark);
}

#copyright img {
    width: 50%;
}

@media (min-width: 768px) {
    #copyright img {
        width: 100%;
    }
}

/* ---- 404 ERROR PAGE ---- */
/* ------------------------ */

body#error {
    padding-top: 0;
    padding-left: 0;
    height: 100vh;
    margin: 0;
    background-color: #000;
    background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex rgba(51, 255, 51, 1), 0 0 2px rgba(255, 255, 255, 0.8);
}

/* Noise Effect */
.noise {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.02;
    pointer-events: none;
    z-index: -1;
}

/* Overlay Scan Lines */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: auto 4px;
    pointer-events: none;
    z-index: 1;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
    background-repeat: no-repeat;
    animation: scan 7.5s linear infinite;
}

/* Scan Animation */
@keyframes scan {
    0% { background-position: 0 -100vh; }
    35%, 100% { background-position: 0 100vh; }
}

/* Terminal Window */
.terminal {
    max-width: 900px;
    padding: 2rem;
    text-transform: uppercase;
}

/* Output Text */
.output {
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
    content: "> ";
}

/* Links */
#error a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#error a:hover {
    color: red;
}

#error a::before {
    content: "[";
}

#error a::after {
    content: "]";
}

/* Error Code */
.errorcode {
    color: white;
}

